.article-preview__container {
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
}

.article-preview {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 60vw; 
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    justify-content: space-between;
    padding-left: 2vw;
}

.article-preview__avatar {
    width: 46px;
    height: 46px;
    object-fit: cover; 
    border-radius: 50%; 
}

.article-preview__author-info {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-right: 20px;
}

.article-preview__content {
    flex: 2;
    padding-top: 15px;
    h5 {
        size: 18px;
        font-weight: 400;
    }
}

.article-preview__title {
    display: flex;
    flex-direction: row;
}

.article-preview__tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
    p {
        border: 1px solid black;
        padding: 2px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color:#000000BF;
    }
}

.article-preview__text {
font-family: Inter;
font-size: 12px;
font-weight: 300;
line-height: 22px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000BF;
overflow-wrap: break-word;
}

.article-preview__create-info {
    padding-right: 20px;
}