.form-tags {
    list-style: none;
    padding-top: 10px;
}

.form-tags__delete-button {
    margin-left: 10px;
}

.form-tags__append-button {
    margin-left: 30px;
}

.form-tags__input {
    width: 150px;
}