.articles-list {
    a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
    }
} 

.loading-container {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }