.favorited-component {
    font-size: 25px;
    padding-left: 20px;
    cursor: pointer;
    position: relative;
    bottom: 5px;
}

.favourite-modal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}