@use './components/header/header';
@use './components/header/signButtons/signButtons.scss';
@use './components/main/main';
@use './components/main/articlesList/articlePreview/articlePreview.scss';
@use './components/main/singleArticle/singleArticle.scss';


  body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
};